/*

Where toast items are positioned from

*/
.toast-action-origin {
  position: relative;
  width: 22rem;
  max-width: 22rem;
  height: 3.5rem;

  &[data-layout="mobile"] {
    z-index: 3500;
    top: 5rem;

    & .toast-combo {
      left: 0.65rem;
    }
    & .t-spin {
      left: 0.65rem;
    }
    & .line-clear-toast {
      left: 0.65rem;
    }
  }
}

.toast-combo {
  position: absolute;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
   
  font-weight: bold;
  font-family: var(--font-action-toast);
  opacity: 1;

  top: -16.5rem;
  left: -0.25rem;
  width: 6.5rem;
}

h2.toast-combo {
  padding: 0;
  margin: 0;
}

.toast-combo .count {  
  position: absolute;
  width: 100%;
  left: -.1rem;
  text-align: center;
  vertical-align: middle;
  /* text-shadow: var(--toast-yellow-highlight); */
  color: var(--toast-yellow-100);
  font-weight:900;
  font-family: var(--font-action-toast);
  font-size: 1.2rem;
} 
.toast-combo .count::before {
  width: 100%;
  left: 0;
  position: absolute;
  content: attr(data-text);
  /* color: var(--toast-pink-300); */
  z-index: -1;
  font-weight: bold;
  font-family: var(--font-action-toast);
  color: var(--toast-yellow-coin);
  transform: translate(0,-0.05rem);
  font-size: 1.27rem;
  text-shadow: var(--toast-yellow-highlight);
} 

.toast-combo .label {
  /* background-color: black; */
  position: absolute;
  width: 100%;
  top: -0.2rem;
  text-align: center;
  color: var(--toast-pink-200);
  font-weight: bold;
  font-family: var(--font-action-toast);
  font-size: 0.87rem;
  letter-spacing: 0.09rem;
  transform: scaleY(1.1);
  text-shadow: var(--toast-shadow-pink) 0 0.05rem 0.05rem;
} 

.toast-combo .label::before {
  /* letter-spacing: 0.03rem; */
  width: 100%;
  left: 0rem;
  /* font-size: 0.93rem; */
  position: absolute;
  content: attr(data-text);
  transform: translate(0,0.02rem);
  /* color: var(--toast-pink-800); */
  z-index: -1;
  text-shadow: var(--toast-white-glow2);
}

.toast-points {
  /* background-color: #FFF9; */
  display: flex;
  position: absolute;
  top: -3rem;
  height:2rem;
  width: 5rem;
  opacity: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: var(--font-action-toast);
  width: 100%
}
.toast-points .labels-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10rem; /* --board-width */
  gap:0;
  /* gap: 0.25rem; */
  align-items: center;
  justify-content: center;
  /* color: var(--toast-dark-blue); */
  font-weight: bold;
  font-family: var(--font-action-toast);
  font-size: 0.625rem;
  letter-spacing: 0.05rem;
} 

.toast-points .label h2 {
  opacity: 0.9;
  text-align: center;
  margin: 0rem;
  font-size: 0.8rem;
}
.toast-points .label h2.std-pts {
  color: var(--toast-yellow-100);
  text-shadow: var(--toast-yellow-highlight);
}
.toast-points .label h2.b2b-pts {
  color: var(--toast-orange-300);
  /* text-shadow: var(--toast-orange-600) 0 0.05rem 0.05rem; */
} 
.toast-points .label h2.combo-pts {
  color: var(--toast-pink-200);
  text-shadow: var(--toast-yellow-highlight);
  /* text-shadow: var(--toast-shadow-pink) 0 0.05rem 0.05rem; */
}

/* .toast-points .label h2.std-pts::before,
.toast-points .label h2.b2b-pts::before,
.toast-points .label h2.combo-pts::before {
  position: absolute;
  content: attr(data-text);
  transform: translate(0 0.05rem);
  z-index: -1;
  text-shadow: var(--toast-white-glow2);
} */

.toast-points .label h2.drift {
  /* background-color: blue; */
  /* transform: translateX(var(--data-rand-tx)); */
  animation: hdrift-right 0.7s ease-out;
  /* transform: translateX(-30%) scale(1.0); */
}
.toast-points .label h2.combo-pts.drift {
  /* background-color: rebeccapurple; */
  /* margin-right: var(--data-rand-tx2); */
  /* transform: translateX(var(--data-rand-tx2)); */
  /* transform: translateX(10%) scale(1.0); */
  animation: hdrift-right 0.7s ease-out;
}
