.board-row {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 1rem;
}

.c0 { left: 0 }
.c1 { left: 1rem }
.c2 { left: 2rem }
.c3 { left: 3rem }
.c4 { left: 4rem }
.c5 { left: 5rem }
.c6 { left: 6rem }
.c7 { left: 7rem }
.c8 { left: 8rem }
.c9 { left: 9rem }

.r0  { top: 0 }
.r1  { top: 1rem }
.r2  { top: 2rem }
.r3  { top: 3rem }
.r4  { top: 4rem }
.r5  { top: 5rem }
.r6  { top: 6rem }
.r7  { top: 7rem }
.r8  { top: 8rem }
.r9  { top: 9rem }
.r10 { top: 10rem }
.r11 { top: 11rem }
.r12 { top: 12rem }
.r13 { top: 13rem }
.r14 { top: 14rem }
.r15 { top: 15rem }
.r16 { top: 16rem }
.r17 { top: 17rem }
.r18 { top: 18rem }
.r19 { top: 19rem }
.r20 { top: 20rem }
.r21 { top: 21rem }
.r22 { top: 22rem }
.r23 { top: 23rem }

.board-cell {

  --cell-bg-op: 1;
  --cell-border-op: 1;
  --cell-border-op-ghost: .8;
  --cell-radius-empty: none;
  --cell-radius-filled: 0.09375rem;
  --cell-radius-ghost: 0.125rem;
  --cell-border-width-ghost: 0.0625rem;

  --cell-border-style-ghost: solid;
  --cell-border-style-filled: outset;
  --cell-border-style-empty: inset;

  --filled-cell-scale: 0.94;
  --ghost-cell-scale: 0.9;

  position: absolute;
  /* top: 0;
  left: 0; */
  box-sizing: border-box;
  height: 1rem;
  width: 1rem;
  border-radius: var(--cell-radius-filled);
}

.empty-cell {
  opacity: 0;
  display: none;
  border-radius: none;
  box-sizing: border-box;
  /* filter: blur(0.25px); */
  position:relative;
  /* background-color: rgb(61, 45, 73); */
  /* background-color: rgb(39, 36, 45); */
  /* border: rgb(34 48 78); */
  /* border-style: var(--cell-border-style-empty); */
  border-radius: 0;
  overflow: hidden;
  /* box-shadow:  inset 0.2rem 0.4rem 0.2rem 0rem rgba(30,45,60, 0.75); */
  /* box-shadow: inset 1px 1px 1px 1px rgb(0, 0, 0, 0.5); */
}
.empty-cell-shadow {
  display:none;
  opacity: 0;
}

.ghost-cell {
  
  border-radius: var(--cell-radius-ghost);
  border-style: var(--cell-border-style-ghost);
  border-width: var(--cell-border-width-ghost);
  z-index: -150;

  /* opacity: 0.8; */
  filter: url('#sandy0') contrast(0.95) blur(0.03125rem) saturate(1.4) brightness(1.4);
  /* filter: url('#sandy0') contrast(0.95) blur(0.05rem) saturate(1.3) brightness(1.5); */
  /* filter: url('#ghostly') brightness(1.7) contrast(0.6) saturate(1.5); */
  background-size: 140% 100%;
  background-position: 50% -30%;
  
  background-image: radial-gradient(ellipse at 73% 62%,
  rgba(0,0,0,0.2),
  rgba(100,100,100,.5) 60%,
  
  rgba(100,100,100,0.6),
  rgba(200,200,200,0.8));

  box-shadow: 
    /* #9996 -0.03125rem 0.03125rem 0.03125rem,  */
    /* inset 0 0.0625rem 0.30rem #FFF3, */
    inset -0.0625rem -0.0625rem 0.25rem 0.25rem #0006;

    /* #9996 0.03125rem 0.03125rem 0.03125rem,  */
    /* #FFF6 -0.03125rem -0.03125rem 0.03125rem; */

  transform: scale(var(--ghost-cell-scale));  
}

.filled-cell, .active-cell, .empty-cell {
  position: absolute;
  transform: scale(var(--filled-cell-scale));
  
  border-radius: var(--cell-radius-filled);
  border-style: var(--cell-border-style-filled);
  /* box-shadow: inset 0.25em 0.167em 1em gold; */

  /* position: relative; */
  /* overflow:hidden; */
  /* transform: scale(0.9); */
  /* filter: url(#sandy180) contrast(1.2) blur(0.25px); */
  /* filter: url('#dancing2'); */
  border-width: 0.0rem;

  z-index: 100;
  /* glowing opaque2 */
  box-shadow: 
  /* inset 0.0rem 0.03125rem 0.0rem 0.02rem hsla(28, 29%, 50%, 0.2), */
  0 0.03125rem .0625rem 0.0625rem #1a1a1a99,
  /* inset -0.03125rem -0.03125rem 0.36rem 0.24rem hsla(0, 30%, 10%, 0.6),  */
  inset -0.03125rem -0.03125rem 0.12rem 0.12rem hsla(0, 30%, 10%, 0.25),
  inset -0.03125rem -0.03125rem 0.03125rem 0.03125rem hsl(0,20%,00%, 0.5)
  ;
  /* 0 0 0.0625rem #0009; */
  
  /* other cell styles for other themes */

  /* glowing opaque1 */
  /* box-shadow: inset -0.03125rem -0.03125rem 0.25rem 0.25rem hsla(0, 60%, 10%, 0.50), 
  inset -0.03125rem -0.0625rem 0.03125rem 0.03125rem hsl(0,20%,00%, 0.5), 
  0 0 0.0625rem #0009;  

  /* smooth outset chiclet1 */
  /* box-shadow: inset -0.05875rem -0.13875rem 0.25rem 0.1rem hsla(0, 60%, 10%, 0.45), 
  inset -0.03125rem -0.0625rem 0.03125rem 0.03125rem hsl(0,20%,00%, 0.15), 
  0 0 0.0625rem #0009;     */

  /* to be named */
  /* inset -0.05875rem -0.03875rem 0.25rem 0.125rem hsla(0, 80%, 0%, 0.7), inset -0.03125rem -0.0625rem 0.03125rem 0.06125rem hsl(0,20%,20%, 0.33) */
  
  /* to be named */
  /* inset 0.03125rem 0.0625rem 0.25rem 0.03125rem hsla(0, 80%, 1%, 0.4), inset -0.03125rem -0.0625rem 0.03125rem 0.06125rem hsl(0,20%,20%, 0.33) */
  
  /* to be named */
  /* inset -0.05875rem -0.13875rem 0.35rem 0.125rem hsla(0, 80%, 18%, 0.7), inset -0.03125rem -0.0625rem 0.03125rem 0.06125rem hsl(0,20%,20%, 0.33) */
  
  /* to be named */
  /* inset -0.05875rem -0.13875rem 0.35rem 0.125rem hsla(0, 60%, 10%, 0.7), inset -0.03125rem -0.0625rem 0.03125rem 0.06125rem hsl(0,20%,20%, 0.33); */
  
  /* box-shadow: #CCF9 0 0.02rem 0; */
  /* box-shadow:  
  inset 0.03125rem 0.0625rem 0.09375rem 0.03125rem hsla(0, 80%, 90%, 0.2),
  inset -0.03125rem -0.0625rem  0.09375rem 0.03125rem hsl(0,20%,20%, 0.3); */
  transform: scale(0.90);  

}

/*
  cell filter normalization
*/

.filled-cell.cell-color-1, .filled-cell.cell-color-11 {
  filter: 
  /* url(#sandy0)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(var(--cell-saturate))
  brightness(calc(var(--cell-brightness) * 0.9));
}
.filled-cell.cell-color-2, .filled-cell.cell-color-22 {
  filter: 
  /* url(#sandy1)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(calc(var(--cell-saturate)*1))
  brightness(calc(var(--cell-brightness)*0.9));
}
.filled-cell.cell-color-3, .filled-cell.cell-color-33 {
  filter: 
  /* url(#sandy2)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(var(--cell-saturate))
  brightness(var(--cell-brightness));
}
.filled-cell.cell-color-4, .filled-cell.cell-color-44 {
  filter: 
  /* url(#sandy3)  */
  contrast(calc(var(--cell-contrast)*1.05))
  blur(var(--cell-blur))
  saturate(calc(var(--cell-saturate)*1.1))
  brightness(calc(var(--cell-brightness) * 1.1));
}
.filled-cell.cell-color-5, .filled-cell.cell-color-55 {
  filter: 
  /* url(#sandy4)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(var(--cell-saturate))
  brightness(calc(var(--cell-brightness)*1.05));
}
.filled-cell.cell-color-6, .filled-cell.cell-color-66 {
  filter: 
  /* url(#sandy5)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(calc(var(--cell-saturate) * 1))
  brightness(calc(var(--cell-brightness) * 1));
}
.filled-cell.cell-color-7, .filled-cell.cell-color-77 {
  filter: 
  /* url(#sandy6)  */
  contrast(var(--cell-contrast))
  blur(var(--cell-blur))
  saturate(calc(var(--cell-saturate) * 1))
  brightness(calc(var(--cell-brightness)));
}


/*

Below are the theme colors for the board cells;

*/


/* O piece */
.cell-color-1,
.cell-color-11 {
  background-color: rgb( var(--theme-0-cell-color-1) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-1) / var(--cell-border-op));
}
.cell-color--11 {
  border-color: rgb( var(--theme-0-cell-color-1) / var(--cell-border-op-ghost));
}

/* Z piece */
.cell-color-2,
.cell-color-22 {
  background-color: rgb( var(--theme-0-cell-color-2) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-2) / var(--cell-border-op));
}
.cell-color--22 {
  border-color: rgb( var(--theme-0-cell-color-2) / var(--cell-border-op-ghost));
}

/* S piece */
.cell-color-3,
.cell-color-33 {
  background-color: rgb( var(--theme-0-cell-color-3) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-3) / var(--cell-border-op));
}
.cell-color--33 {
  border-color: rgb( var(--theme-0-cell-color-3) / var(--cell-border-op-ghost));
}

/* J piece */
.cell-color-4,
.cell-color-44 {
  background-color: rgb( var(--theme-0-cell-color-4) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-4) / var(--cell-border-op));
}
.cell-color--44 {
  border-color: rgb( var(--theme-0-cell-color-4) / var(--cell-border-op-ghost));
}

/* L piece */
.cell-color-5,
.cell-color-55 {
  background-color: rgb( var(--theme-0-cell-color-5) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-5) / var(--cell-border-op));
}
.cell-color--55 {
  border-color: rgb( var(--theme-0-cell-color-5) / var(--cell-border-op-ghost));
}

/* T piece */
.cell-color-6,
.cell-color-66 {
  background-color: rgb( var(--theme-0-cell-color-6) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-6) / var(--cell-border-op));
}
.cell-color--66 {
  border-color: rgb( var(--theme-0-cell-color-6) / var(--cell-border-op-ghost));
}

/* I piece */
.cell-color-7,
.cell-color-77 {
  background-color: rgb( var(--theme-0-cell-color-7) / var(--cell-bg-op));
  border-color: rgb( var(--theme-0-cell-color-7) / var(--cell-border-op));
}
.cell-color--77 {
  border-color: rgb( var(--theme-0-cell-color-7) / var(--cell-border-op-ghost));
}
