:root {

  --app-container-bg-color: 51 65 85;
  --app-container-bg-op: 0.1;
  --app-container-scale: 100%;

  --font-stats-value: 'SF Digital Heavy';
  --font-action-toast: 'SfTheraminGothicBold';

  --effect-z-index: 300;

  --piece-que-item-scale: scale(60%);

  --scale-control-button-mobile: 1.25;

  --cell-contrast: 1.05;
  /* --cell-blur: 0.03125rem; */
  --cell-blur: 0;
  --cell-brightness: 1.25;
  --cell-saturate: 1.1;

  --board-grid-mask-border-width: 0.0625rem;
  --board-grid-mask-padding: 0.03125rem;

  /*
    galaxy theme 
  */
  --toast-pink-200:   #DE8FC9;
  --toast-pink-300:   #D375BA;
  --toast-pink-700:   #AE398D;
  --toast-pink-800:   #4f2b45;
  --toast-yellow-glow:#F7FB9F;

  --toast-red-100:    #F099C4;
  --toast-red-200:    #EC5D8B;
  --toast-red-peony:  #DC4982;
  --toast-red-mario:  #E83333;
  --toast-orange-300: #DF7C62;
  --toast-orange-600: #6c301f;
  --toast-yellow-coin:#FCF752;
  
  --toast-yellow:     #e6f14c;
  --toast-yellow-100: #fbf7f4;
  --toast-green-luigi:#75FB53;
  --toast-green-yoshi:#6BC569;
  --toast-green:      #204E19;
  --toast-cyan:       #74FAFD;
  --toast-aqua:       #64D8D9;
  --toast-dark-sky:   #acb8ec;
  --toast-light-blue: #8DC4FA;
  --toast-blue:       #2356F4;
  --toast-purple:     #af43f1;
  --toast-purple:     #A221F4;
  --toast-purple-500: #520f7c;
  --toast-purple-700: #2b0741;
  --toast-dark-blue:  #5d5897; 
  

  --toast-shadow-pink: #4f2b45AA;

  --toast-black-shadow: rgba(0,0,0,0.75) 0.5px 0.5px;
  --toast-dark-blue-highlight: 
    -0.15px -0.15px 0px var(--toast-dark-blue),
    0.15px -0.15px 0px var(--toast-dark-blue);
    /* --toast-black-shadow: rgba(0,0,0,0.75) 0.5px 0.5px; */

  --toast-white-glow:
     0.5px  0.5px 0.5px #fff, 
    -0.5px -0.5px   0px #fff,
     0.5px -0.5px   0px #fff, 
    -0.5px  0.5px 0.5px #fff;

  --toast-white-glow2:
  0.5px  0.5px 0.5px #fffd, 
  -0.5px -0.5px   0.5px #fffd,
   0.5px -0.5px   0.5px #fffd, 
  -0.5px  0.5px 0.5px #fffd;

  --toast-line-clear-highlight:
    0.5px  0.5px 0.5px #ffffffCC, 
    -0.5px -1.0px   0.5px #ffffffCC,
    0.5px -1.0px   0.5px #ffffffCC, 
    -0.5px  0.5px 0.5px #ffffffCC,
    0px  0px 1px #ffffffCC;

  --toast-yellow-highlight: 
    -0.15px -0.15px 0px var(--toast-yellow),
    0.15px -0.25px 0px var(--toast-yellow),
    var(--toast-black-shadow);

  --toast-flash-highlight:
    -0.15px -0.15px 2px var(--toast-yellow), 
    0.15px -0.15px 2px var(--toast-yellow); 

  --drop-effect-gradient: linear-gradient(
      rgba(255,255,255,0),
      rgba(255,255,255,0.6),
      rgba(255,255,255,0.8), 
      rgba(255,255,255,0.1) 95%);

  --clear-effect-gradient: radial-gradient(
    ellipse at center, 
    rgba(255,255,255,1),
    rgba(255,255,255,0.75),
    rgba(255,255,255,0));
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.ignore {
  display: none;
}

#DevTools {
  position: fixed;
  background: rgba(0,0,0,0.3);

  & .fps {
    color: red
  }
}