:root {

  --effect-z-index: 300;

  --piece-que-item-scale: scale(60%);

  --toast-yellow: #e6f14c;
  --toast-orange: #DF6442;
  --toast-light-blue: #acb8ec;
  --toast-dark-blue: #5d5897; 

  --toast-black-shadow: rgba(0,0,0,0.75) 0.5px 0.5px;
  --toast-dark-blue-highlight: 
    -0.15px -0.15px 0px var(--toast-dark-blue),
    0.15px -0.15px 0px var(--toast-dark-blue);
    /* --toast-black-shadow: rgba(0,0,0,0.75) 0.5px 0.5px; */

  --toast-white-glow:
     0.5px  0.5px 0.5px #fff, 
    -0.5px -0.5px   0px #fff,
     0.5px -0.5px   0px #fff, 
    -0.5px  0.5px 0.5px #fff;

  --toast-white-glow2:
     1px  1px 0.5px #fff, 
    -1px -1px   0px #fff,
     1px -1px   0px #fff, 
    -1px  1px 0.5px #fff;

  --toast-line-clear-highlight:
    0.5px  0.5px 0.5px #ffffffCC, 
    -0.5px -1.0px   0.5px #ffffffCC,
    0.5px -1.0px   0.5px #ffffffCC, 
    -0.5px  0.5px 0.5px #ffffffCC,
    0px  0px 1px #ffffffCC;

  --toast-yellow-highlight: 
    -0.15px -0.15px 0px var(--toast-yellow),
    0.15px -0.25px 0px var(--toast-yellow),
    var(--toast-black-shadow);

  --toast-flash-highlight:
    -0.15px -0.15px 2px var(--toast-yellow), 
    0.15px -0.15px 2px var(--toast-yellow); 

  --drop-effect-gradient: linear-gradient(
      rgba(255,255,255,0),
      rgba(255,255,255,0.6),
      rgba(255,255,255,0.8), 
      rgba(255,255,255,0.1) 95%);

  --clear-effect-gradient: radial-gradient(
    ellipse at center, 
    rgba(255,255,255,1),
    rgba(255,255,255,0.75),
    rgba(255,255,255,0));
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.ignore {
  display: none;
}