:root {

  --app-container-bg-color: 51 65 85;
  --app-container-bg-op: 0.1;
  --app-container-scale: 100%;

  --font-stats-value: 'SF Digital Heavy';
  --font-action-toast: 'SfTheraminGothicBold';

  --bg-image: url(/src/assets/bg_fantasy02_hd.webp);
  --app-header-gradient: linear-gradient(rgba(16, 22, 28, 0.7), rgba(53, 69, 85, 0.9) 42%, rgba(16, 22, 28, 0.7));
  --bg-blend-gradient: radial-gradient(circle at 50% 20%, #3119, #9999, #44222266, #3348, #3138);
  --bg-blend-mode: normal;
  --effect-z-index: 300;

  --piece-que-item-scale: 50%;

  --scale-control-button-mobile: 1.25;

  --nav-header-height: 50pt;
  --nav-icon-scale: 0.96;
  --header-logo-height: 6.5rem;
  --bg-position: 55% 10%;

  /*  iOS design guidline */
  --nav-header-height-landscape-mobile: 30pt;
  /*  iOS design guidline */

  --cell-contrast: 1.05;
  /* --cell-blur: 0.03125rem; */
  --cell-blur: 0;
  --cell-brightness: 1.25;
  --cell-saturate: 1.1;

  --board-grid-mask-border-width: 0.0625rem;
  --board-grid-mask-padding: 0.03125rem;

  /*
    galaxy theme 
  */
  --toast-pink-200: #DE8FC9;
  --toast-pink-300: #D375BA;
  --toast-pink-700: #AE398D;
  --toast-pink-800: #4f2b45;
  --toast-yellow-glow: #F7FB9F;

  --toast-red-100: #F099C4;
  --toast-red-200: #EC5D8B;
  --toast-red-peony: #DC4982;
  --toast-red-mario: #E83333;
  --toast-orange-300: #DF7C62;
  --toast-orange-600: #6c301f;
  --toast-yellow-coin: #FCF752;

  --toast-yellow: #e6f14c;
  --toast-yellow-100: #fbf7f4;
  --toast-green-luigi: #75FB53;
  --toast-green-yoshi: #6BC569;
  --toast-green: #204E19;
  --toast-cyan: #74FAFD;
  --toast-aqua: #64D8D9;
  --toast-dark-sky: #acb8ec;
  --toast-light-blue: #8DC4FA;
  --toast-blue: #2356F4;
  --toast-purple: #af43f1;
  --toast-purple: #A221F4;
  --toast-purple-500: #520f7c;
  --toast-purple-700: #2b0741;
  --toast-dark-blue: #5d5897;


  --toast-shadow-pink: #4f2b45AA;

  --toast-black-shadow: rgba(0, 0, 0, 0.75) 0.5px 0.5px;
  --toast-dark-blue-highlight:
    -0.15px -0.15px 0px var(--toast-dark-blue),
    0.15px -0.15px 0px var(--toast-dark-blue);
  /* --toast-black-shadow: rgba(0,0,0,0.75) 0.5px 0.5px; */

  --toast-white-glow:
    0.5px 0.5px 0.5px #fff,
    -0.5px -0.5px 0px #fff,
    0.5px -0.5px 0px #fff,
    -0.5px 0.5px 0.5px #fff;

  --toast-white-glow2:
    0.5px 0.5px 0.5px #fffd,
    -0.5px -0.5px 0.5px #fffd,
    0.5px -0.5px 0.5px #fffd,
    -0.5px 0.5px 0.5px #fffd;

  --toast-line-clear-highlight:
    0.5px 0.5px 0.5px #ffffffCC,
    -0.5px -1.0px 0.5px #ffffffCC,
    0.5px -1.0px 0.5px #ffffffCC,
    -0.5px 0.5px 0.5px #ffffffCC,
    0px 0px 1px #ffffffCC;

  --toast-yellow-highlight:
    -0.15px -0.15px 0px var(--toast-yellow),
    0.15px -0.25px 0px var(--toast-yellow),
    var(--toast-black-shadow);

  --toast-flash-highlight:
    -0.15px -0.15px 2px var(--toast-yellow),
    0.15px -0.15px 2px var(--toast-yellow);

  --drop-effect-gradient: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.1) 95%);

  --clear-effect-gradient: radial-gradient(ellipse at center,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0));
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.ignore {
  display: none;
}

#DevTools {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);

  & .fps {
    color: red
  }
}



@media only screen and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave15_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 60pt;
    --nav-icon-scale: 1.2;
    --header-logo-height: 6.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 2.75rem;
    --menu-panel-width: 88%;
    --menu-panel-height: 11%;
    --menu-button-scale: 1.5;

    --game-panel-scale: 3;
    --game-panel-top: 12.5rem;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 20%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.7;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 25%;
    --button-controls-right: 8%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-top: 1.5rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 35%;
    --stats-panel-width: 30%;
    --stats-panel-gap: 0.5rem;
    --stats-panel-scale: 1.8;
    --stats-panel-transform-origin: top;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 820px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave05.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 50pt;
    --nav-icon-scale: 1;
    --header-logo-height: 5.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 2.25rem;
    --menu-panel-width: 90%;
    --menu-panel-height: 10%;
    --menu-button-scale: 1.25;

    --game-panel-scale: 2.4;
    --game-panel-top: 11rem;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 20%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.7;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 22%;
    --button-controls-right: 8%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-top: 1.5rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 30%;
    --stats-panel-width: 40%;
    --stats-panel-gap: 1rem;
    --stats-panel-scale: 1.4;
    --stats-panel-transform-origin: top;

    --bg-size: auto 240%;
    --bg-position: 50% 20%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave13_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 44pt;
    --nav-icon-scale: 0.96;
    --header-logo-height: 4.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 1.0rem;
    --menu-panel-width: 90%;
    --menu-panel-height: 10%;
    --menu-button-scale: 1.25;

    --game-panel-scale: 2.2;
    --game-panel-top: 13%;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 20%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.75;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 22%;
    --button-controls-right: 8%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-top: 0.5rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 25%;
    --stats-panel-width: 50%;
    --stats-panel-gap: 0.5rem;
    --stats-panel-scale: 1.25;
    --stats-panel-transform-origin: top;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  :root {
    --stats-panel-align-items: flex-end;
    --bg-image: url(/src/assets/bg_cave10.webp);
    --nav-header-height: 44pt;
    --nav-icon-scale: 0.96;
    --header-logo-height: 4.5rem;

    --game-panel-scale: 1.5;
    --game-panel-top: 12.0%;
    --game-panel-left: 0;
    --game-panel-height: 88%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.2;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 0%;
    --button-controls-right: 20%;

    --control-stick-top: 0;
    --control-stick-left: 0;
    --control-stick-bottom: 0;
    --control-stick-right: 0;

    /* portrait phone */
    --stats-panel-left: 0%;
    --stats-panel-top: 0;
    --stats-panel-right: 3%;
    --stats-panel-width: 97%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 1.2;
    --stats-panel-transform-origin: right;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave03.webp);
    --nav-header-height: 44pt;
    --nav-icon-scale: 0.96;
    --header-logo-height: 4.5rem;

    --menu-panel-scale: 1.15;
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: 1.5;
    --game-panel-top: 12.0%;
    --game-panel-left: 0;
    --game-panel-height: 88%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.0;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 0%;
    --button-controls-right: 18%;

    --control-stick-top: 0;
    --control-stick-left: 0;
    --control-stick-bottom: 0;
    --control-stick-right: 0;

    /* portrait phone */
    --stats-panel-left: 0%;
    --stats-panel-top: 0rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 1.25;
    --stats-panel-transform-origin: right;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 390px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave03.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 44pt;
    --nav-icon-scale: 0.96;
    --header-logo-height: 4.5rem;

    --menu-panel-scale: 1.15;
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: 1.4;
    --game-panel-top: 12.0%;
    --game-panel-left: 0;
    --game-panel-height: 88%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.0;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 0%;
    --button-controls-right: 18%;

    --control-stick-top: 0;
    --control-stick-left: 0;
    --control-stick-bottom: 0;
    --control-stick-right: 0;

    /* portrait phone */
    --stats-panel-left: 0%;
    --stats-panel-top: -0.25rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 1.15;
    --stats-panel-transform-origin: right;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  :root {
    --bg-image: url(/src/assets/bg_cave10.webp);
    --nav-header-height: 44pt;
    --nav-icon-scale: 0.96;
    --header-logo-height: 4.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: 1.2;
    --game-panel-top: 15.0%;
    --game-panel-left: 0;
    --game-panel-height: 88%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.0;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 5%;
    --button-controls-right: 17.5%;

    --control-stick-top: 0;
    --control-stick-left: 0;
    --control-stick-bottom: 0;
    --control-stick-right: 0;

    /* portrait phone */
    --stats-panel-top: -0.5rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 1.1;
    --stats-panel-transform-origin: right;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 1368px) and (orientation: landscape) {
  :root {
    --bg-size: auto 140%;
    --bg-position: 50% 0%;
    --bg-image: url(/src/assets/bg_cave17_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 50pt;
    --nav-icon-scale: 1;
    --header-logo-height: 5.5rem;

    /* --bg-image: url(/src/assets/bg_cave17_hd.webp); */

    --menu-panel-scale: 1.0;
    --menu-panel-top: 2.8rem;
    --menu-panel-width: 90%;
    --menu-panel-height: 10%;
    --menu-button-scale: 1.4;

    --game-panel-scale: 2.4;
    --game-panel-top: 5.75rem;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --stats-panel-scale: 1.45;
    --stats-panel-top: 2rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.5rem;
    --stats-panel-transform-origin: top;

    --touch-controls-top: 22%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.85;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 35%;
    --button-controls-right: -15%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

  }
}

@media only screen and (max-width: 1368px) and (min-aspect-ratio: 3/2) {
  :root {
    --game-panel-scale: 2.1;
    --button-controls-right: -25%;
    --game-panel-top: 6.75rem;
  }
}

@media only screen and (max-width: 1280px) and (min-aspect-ratio: 3/2) {
  :root {
    --game-panel-scale: 1.9;
    --button-controls-right: -25%;
    --game-panel-top: 6.75rem;
    --stats-panel-scale: 1.35;
  }
}

@media only screen and (max-width: 1180px) and (orientation: landscape) {
  :root {
    --bg-size: auto 140%;
    --bg-position: 50% 0%;
    --bg-image: url(/src/assets/bg_cave17_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 50pt;
    --nav-icon-scale: 1;
    --header-logo-height: 5.5rem;

    /* --bg-image: url(/src/assets/bg_cave17_hd.webp); */

    --menu-panel-scale: 1.0;
    --menu-panel-top: 1.4rem;
    --menu-panel-width: 92%;
    --menu-panel-height: 10%;
    --menu-button-scale: 1.2;

    --game-panel-scale: 1.8;
    --game-panel-top: 5.0rem;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --stats-panel-scale: 1.2;
    --stats-panel-top: 1rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.5rem;
    --stats-panel-transform-origin: top;

    --touch-controls-top: 20%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.9;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 35%;
    --button-controls-right: -25%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

  }
}

@media only screen and (max-width: 1025px) and (orientation: landscape) {
  :root {
    --bg-image: url(/src/assets/bg_cave13_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 50pt;
    --nav-icon-scale: 1;
    --header-logo-height: 5.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 1.2rem;
    --menu-panel-width: 94%;
    --menu-panel-height: 10%;
    --menu-button-scale: 1.1;

    --game-panel-scale: 1.7;
    --game-panel-top: 5.0rem;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 20%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 0.9;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 35%;
    --button-controls-right: -15%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-scale: 1.1;
    --stats-panel-top: 1rem;
    --stats-panel-right: 0%;
    --stats-panel-left: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.5rem;
    --stats-panel-transform-origin: top;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 932px) and (orientation: landscape) {
  :root {
    --bg-image: url(/src/assets/bg_cave13_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 30pt;
    --nav-icon-scale: 0.75;
    --header-logo-height: 2.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: 0.95;
    --game-panel-top: 13%;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.3;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 40%;
    --button-controls-right: -60%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-top: 0.5rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 0.75;
    --stats-panel-transform-origin: top;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {

  :root {
    --game-panel-scale: 0.85;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  :root {
    --bg-image: url(/src/assets/bg_cave18_hd.webp);
    --bg-blend-mode: darken;
    --nav-header-height: 30pt;
    --nav-icon-scale: 0.75;
    --header-logo-height: 2.5rem;

    --menu-panel-scale: 1.0;
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: 0.8;
    --game-panel-top: 14.0%;
    --game-panel-left: 0;
    --game-panel-height: 88%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.2;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 40%;
    --button-controls-right: -35%;

    --control-stick-top: -20%;
    --control-stick-left: -80%;
    --control-stick-bottom: 0;
    --control-stick-right: -60%;

    --stats-panel-top: 0.5rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 0.75;
    --stats-panel-transform-origin: top;

    --bg-size: auto 140%;
    --bg-position: 50% 0%;
  }
}

@media only screen and (min-width: 1369px) {
  :root {
    /* --bg-image: url(/src/assets/bg_cave18_hd.webp); */
    --bg-blend-mode: darken;
    --nav-header-height: 60pt;
    --nav-icon-scale: 1.2;
    --header-logo-height: 6.5rem;

    --menu-panel-scale: "none";
    --menu-panel-top: 0.2rem;
    --menu-panel-width: 100%;
    --menu-panel-height: 10%;
    --menu-button-scale: 0.8;

    --game-panel-scale: "none";
    --game-panel-top: 13%;
    --game-panel-left: 0;
    --game-panel-height: 80%;
    --game-panel-width: 100%;
    --game-panel-transform-origin: top;

    --touch-controls-top: 25%;
    --touch-controls-left: 0;
    --touch-controls-height: 100%;
    --touch-controls-width: 100%;

    --button-controls-scale: 1.3;
    --button-controls-height: 100%;
    --button-controls-width: 0;
    --button-controls-bottom: 40%;
    --button-controls-right: -60%;

    --control-stick-top: -20%;
    --control-stick-left: -120%;
    --control-stick-bottom: 0;
    --control-stick-right: -50%;

    --stats-panel-top: 0.5rem;
    --stats-panel-right: 0%;
    --stats-panel-width: 100%;
    --stats-panel-gap: 0.2rem;
    --stats-panel-scale: 0.75;
    --stats-panel-transform-origin: top;

    --bg-size: auto 120%;
    --bg-position: 55% 40%;
  }
}



[data-has-touch='true'] {


  & #GamePanel {
    width: var(--game-panel-width) !important;
    left: var(--game-panel-left) !important;
    height: var(--game-panel-height) !important;
    top: var(--game-panel-top) !important;
    z-index: 5000;

    & > div {
      transform: scale(var(--game-panel-scale)) !important;
      transform-origin: var(--game-panel-transform-origin) !important;
    }

    #TouchControls {
      position: absolute !important;
      top: var(--touch-controls-top) !important;
      left: var(--touch-controls-left) !important;
      height: var(--touch-controls-height) !important;
      width: var(--touch-controls-width) !important;
      /* transform: scale(0.8); */

    }

    #ButtonControls {
      position: absolute !important;
      height: var(--button-controls-width) !important;
      width: var(--button-controls-width) !important;
      right: var(--button-controls-right) !important;
      bottom: var(--button-controls-bottom) !important;
      background-color: #2b0741 !important;
      transform: scale(var(--button-controls-scale)) !important;
      z-index: 5000;
    }

    #ControlStickRegion {
      position: absolute;
      left: var(--control-stick-left) !important;
      right: var(--control-stick-right) !important;
      top: var(--control-stick-top) !important;
      bottom: var(--control-stick-bottom) !important;
    }
  }

  & #StatsPanel {
    right: var(--stats-panel-right) !important;
    left: var(--stats-panel-left) !important;
    width: var(--stats-panel-width) !important;
    top: var(--stats-panel-top) !important;
    z-index: 3000;

    & > div {
      transform: scale(var(--stats-panel-scale)) !important;
      transform-origin: var(--stats-panel-transform-origin) !important;
      gap: var(--stats-panel-gap) !important;
      justify-content: center;
      flex-wrap: wrap;
      align-items: var(--stats-panel-align-items) !important;
    }
  }

  & #MenuPanel {
    position: absolute;
    width: 100% !important;
    height: auto;
    left: 0 !important;
    top: var(--menu-panel-top) !important;
    align-items: center;
    transform-origin: top;
    justify-content: flex-start;
    z-index: 4000;

    & > div {
      transform: scale(--menu-panel-scale) !important;
      flex-direction: row-reverse !important;
      transform-origin: top !important;
      height: var(--menu-panel-height) !important;
      width: var(--menu-panel-width) !important;
      justify-content: space-between !important;

      & > button {
        transform: scale(var(--menu-button-scale)) !important;
      }
    }
  }
}

/* #ButtonControls {
  z-index: 5000;
  --button-controls-scale: calc(1/(var(--game-panel-scale)) * 1.25);
  transform: scale(var(--button-controls-scale));
} */
