body {
  min-width: 1004px;
  background: 
    url("/src/assets/tetris_bg_intergalactic09.webp"), 
    url("/src/assets/radial_bg_blend.avif");
  /* background-repeat: repeat; */
  background-size: 100vw auto, 100vw 100vh;
  background-position: 0,0;
  
  /* background-blend-mode: color-dodge; */
  background-blend-mode: overlay;
}

@font-face {
  font-family: "8DigitPin";   /*Can be any text*/
  src: local("8DigitPinRegular-d9WRV"),
    url("/src/font/8DigitPinRegular-d9WRV.ttf") format("truetype");
}

@font-face {
  font-family: "TimerUlil";   /*Can be any text*/
  src: local("CursedTimerUlil-Aznm"),
    url("/src/font/CursedTimerUlil-Aznm.ttf") format("truetype");
}

@font-face {
  font-family: "SF Digital Medium";   /*Can be any text*/
  src: local("SfDigitalReadoutMedium-q3rq"),
    url("/src/font/SfDigitalReadoutMedium-q3rq.ttf") format("truetype");
}

@font-face {
  font-family: "SF Digital Heavy";   /*Can be any text*/
  src: local("SfDigitalReadoutHeavy-AwVg"),
    url("/src/font/SfDigitalReadoutHeavy-AwVg.ttf") format("truetype");
}
@font-face {
  font-family: "Absolute Empire";   /*Can be any text*/
  src: local("AAbsoluteEmpire-EaXpg"),
    url("/src/font/AAbsoluteEmpire-EaXpg.ttf") format("truetype");
}

.que-item {
  transform: scale(60%);
}

.game-clock {
  display: none;
  margin: 8px;
  margin-bottom: 4px;
  font-family: 'SF Digital Heavy';
  /* font-size: 48px; */
  padding: 0;
}

.stats-board {
  font-family: 'SF Digital Heavy';
  font-size: 3rem;
  padding: 0;
}

.stats-field {
  line-height: 40px;
}
.stats-field-name {
  color:aliceblue;
  text-shadow: rgba(0,128,196,0.9) 0rem 0.1rem 0.7rem;
  letter-spacing: 0.15em;
  opacity: 0.85;
}
.stats-field-value-bg {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.digital {
  font-family: 'SF Digital Heavy';
  letter-spacing: 0.15rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tetris-font {
  font-family: 'Absolute Empire';
}

.drop-effect {
  position: absolute;
  background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.6),rgba(255,255,255,0.8), rgba(255,255,255,0.1) 95%);
  z-index: 200;
}
.clear-effect {
  position: absolute;
  /* background-image: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,1),rgba(255,255,255,0.75),rgba(255,255,255,0)); */
  background-image: radial-gradient(ellipse at center, rgba(255,255,255,1),rgba(255,255,255,0.75),rgba(255,255,255,0));
  z-index: 300;
}

.game-sounds {
  top: 13rem;
  left: 3.5rem;
  background-color: rgb(26, 26, 26, 0.8);
}

.game-sounds label {
  font-family: 'Absolute Empire';
  font-size: 0.6rem;
  padding-top: 0.15rem;
  color: aliceblue;
  opacity: 0.8;
  text-shadow: rgba(0,128,196,0.7) 0rem 0.1rem 0.5rem;
}

.game-header {
  padding-top: 24px;
  line-height: 40px;
  letter-spacing: 0.3em;
  font-family: 'Absolute Empire';
  font-weight: 300;
  font-size: 2.5rem;
  color:aliceblue;
  text-shadow: rgba(0,128,196,0.9) 0rem 0.2rem 0.7rem;
  opacity: 0.8;
}

.game-control-map {
  margin-top: 6.20rem;
  background-color: rgb(26, 26, 26, 0.8);
  /* border: 1px rgba(148, 163, 184, 0.8) solid; */
  border: 1px solid rgba(226,232,240,0.6);
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;

  /* filter: drop-shadow(0 0 0.25rem rgba(104, 104, 104, 0.6)); */
}

.game-control-button {
  /* border: 1px rgba(255,255,255,0.6) solid; */
  border: 1px rgba(148, 163, 184, 0.8) solid;
  background-color: rgb(26, 26, 26, 1);
  color: rgba(255,255,255,0.8)
}

.menu-button {
  color: aliceblue;
  text-shadow: rgba(0,128,196,0.9) 0rem 0.1rem 0.7rem;
  opacity: 0.8;
}
.menu-button.disabled {
  border: 1px rgba(255,255,255,0.4) solid;
  color: rgba(240,248,255,0.5);
}

.tooltip-text {
  /* height: 0;
  width: 0; */
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  background-color: rgb(26, 39, 51, 0.8);
  border-radius: 0.25rem;
  border: 1px rgba(26,26,26,0.8) solid;
  padding: 2px;
  cursor: pointer;
  user-select: none;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text.top {
  top: -32px;
  left: -100%;
}

.tooltip-text.bottom {
  top: 36px;
  left: -100%;
}

.tooltip-text.left {
  top: -8px;
  right: 120%;
}

.tooltip-text.right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
  /* margin: 40px; */
  text-align: center;
  user-select: none;  
}