@import 'css/fonts.css';
@import 'css/root.css';
@import 'css/themes.css';
@import 'css/animations.css';
@import 'css/action-toast.css';
@import 'css/back-to-back.css';
@import 'css/t-spin.css';
@import 'css/tool-tip.css';
@import 'css/checkbox.css';
@import 'css/cell-colors.css';


body {
  /* min-width: 1000px; */
  overflow-x: hidden;
  background:
    url("/src/assets/tetris_bg_intergalactic09.webp"), 
    url("/src/assets/radial_bg_blend.avif");
  /* background-repeat: repeat; */
  background-size: 100vw auto, 100vw 100vh;
  background-position: 0,0;
  
  /* background-blend-mode: color-dodge; */
  background-blend-mode: overlay;
}

@media(max-width: 1000px) {
  body {
    background-size: 1000px 1000px, 100vw 100vh;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  background-color: rgb(var(--app-container-bg-color) / var(--app-container-bg-op));

  transform: scale(var(--app-container-scale));
}

/* .theme-09 {
  color: rgb(32, 62, 106);
  color: rgb(39, 17, 26);
  color: rgb(202, 178, 235);
  color: rgb(41, 97, 144);
  color: rgb(61, 8, 64);
  color: rgb(40, 12, 18);
  color: rgb(31, 68, 113);
  color: rgb(30, 17, 60);
  color: rgb(29, 61, 105);
  color: rgb(246, 188, 239);
  background-image: linear-gradient( 
    #BADBF5
    #85BEED
    #47ABFC
    #A1ED85
    #77FC47
    #31F575
    #F6BCEF
    #F5BAEE
    #FC47E7
    #FCB547
    #EDC485
    #9631F5
    );
} */




.que-item {
  transform: var(--piece-que-item-scale);
}

.game-clock {
  display: none;
  margin: 8px;
  margin-bottom: 4px;
  font-family: 'SF Digital Heavy';
  /* font-size: 48px; */
  padding: 0;
}

.stats-board {
  font-family: 'SF Digital Heavy';
  font-size: 3rem;
  padding: 0;
}

.stats-field {
  line-height: 40px;
}
.stats-field-name {
  color:aliceblue;
  text-shadow: rgba(0,128,196,0.9) 0rem 0.1rem 0.7rem;
  letter-spacing: 0.15em;
  opacity: 0.85;
}
.stats-field-value-bg {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.digital {
  font-family: 'SF Digital Heavy';
  letter-spacing: 0.15rem;
}



.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tetris-font {
  font-family: 'Absolute Empire';
}

.drop-effect {
  position: absolute;
  background-image: var(--drop-effect-gradient);
  z-index: var(--effect-z-index);
}
.clear-effect {
  position: absolute;
  /* background-image: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,1),rgba(255,255,255,0.75),rgba(255,255,255,0)); */
  background-image: var(--clear-effect-gradient);
  z-index: var(--effect-z-index);
}

.game-sounds {
  top: 13rem;
  left: 3.5rem;
  background-color: rgb(26, 26, 26, 0.8);
}

.game-sounds label {
  font-family: 'Absolute Empire';
  font-size: 0.6rem;
  padding-top: 0.15rem;
  color: aliceblue;
  opacity: 0.8;
  text-shadow: rgba(0,128,196,0.7) 0rem 0.1rem 0.5rem;
}

.game-header {
  padding-left: 0.6rem;
  padding-top: 24px;
  line-height: 40px;
  letter-spacing: 0.3em;
  font-family: 'Absolute Empire';
  font-weight: 300;
  font-size: 2.5rem;
  color:aliceblue;
  /* text-shadow: rgba(0,128,196,0.9) 0rem 0.2rem 0.7rem; */
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  opacity: 0.8;
}

/*

RESTART, PAUSE, RESUME etc..

*/
.menu-button {
  color: aliceblue;
  text-shadow: rgba(0,128,196,0.9) 0rem 0.1rem 0.7rem;
  opacity: 0.8;
}
.menu-button.disabled {
  border: 1px rgba(255,255,255,0.4) solid;
  color: rgba(240,248,255,0.5);
}

/*

Keyboard Controls Map UI

*/
.game-control-map {
  margin-top: 6.20rem;
  background-color: rgb(26, 26, 26, 0.8);
  /* border: 1px rgba(148, 163, 184, 0.8) solid; */
  border: 1px solid rgba(226,232,240,0.6);
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;

  /* filter: drop-shadow(0 0 0.25rem rgba(104, 104, 104, 0.6)); */
}
.game-control-button {
  /* border: 1px rgba(255,255,255,0.6) solid; */
  border: 1px rgba(148, 163, 184, 0.8) solid;
  background-color: rgb(26, 26, 26, 1);
  color: rgba(255,255,255,0.8)
}

/*

Where toast items are positioned from

*/
.toast-action-origin {
  position: relative;
  width: 22rem;
  max-width: 22rem;
  height: 3.5rem;
}

.ghost-cell {
  /* opacity: 0.8; */
  filter: url('#sandy0') contrast(0.8) blur(0.3px) saturate(1.7);
  /* filter: url('#ghostly') brightness(1.7) contrast(0.6) saturate(1.5); */
  background-size: 140% 100%;
  background-position: 50% -30%;
  
  background-image: radial-gradient(ellipse at 73% 62%,
  rgba(0,0,0,0),
  rgba(100,100,100,.2) 60%,
  
  rgba(100,100,100,0.44),
  rgba(200,200,200,0.6));

  /* border-style: solid; */
  box-shadow: 
    /* #9996 -0.03125rem 0.03125rem 0.03125rem,  */
    #FFF6 0 0 0.125rem;
    /* #9996 0.03125rem 0.03125rem 0.03125rem,  */
    /* #FFF6 -0.03125rem -0.03125rem 0.03125rem; */
  /* transform: scale(0.96); */
  /* border-width: 0.042rem; */
  /* border-radius: 0.125rem; */

  
}

.empty-cell {
  opacity: 0;
  /* border-width: 0.03125rem; */
  /* background-color: rgba(0,0,0,1); */
  border-radius: none;
  opacity: 0.5; 
}

/* .ghost-cell::before, 
.filled-cell::before {
  position: absolute;
  border-width: 0.03125rem;
  background-color: rgba(0,0,0,1);
  opacity: 0.5;
  border-radius: none;
  z-index: -1;
  border-color: rgb(17 24 39);
} */

/* .filled-cell::after {
  position: absolute;
  top:0;
  left:0;
  height: 1rem;
  width: 1rem;
  transform: translateY(-.25rem);
  box-shadow:  inset 0.2rem 0.4rem 0.2rem 0rem rgba(130,145,160, 0.75),
               inset 0 -1rem 0.1rem 0rem rgba(130,145,160, 0.3);
  z-index: 1000;
  background-color: green;
} */
.filled-cell {
  position: relative;
  border-radius: 0.125rem;
  overflow:hidden;
  /* filter: url(#sandy180) contrast(1.2) blur(0.25px); */
  /* filter: url('#frosted-glass') contrast(1.2) saturate(1.5) brightness(1.5); */
  /* filter: url('#dancing2'); */
  border-width: 0.03125rem;
  /* border-bottom-width: 0.0rem; */
  /* box-shadow: #CCF9 0 0.02rem 0; */
  box-shadow:  inset 0.03125rem 0.0625rem 0.09375rem 0rem rgba(130,145,160, 0.4),
               inset -0.0625rem -0.03125rem 0.09375rem 0rem rgba(30,45,60, 0.4);
               /* inset 0 -1rem 0.1rem 0rem rgba(130,145,160, 0.3); */
}



.filled-cell:nth-child(n) {
  /* filter: url(#sandy0) contrast(1.2) blur(0.25px); */
  filter: url(#sandy0) contrast(1.2);
}
/* .filled-cell:nth-child(3n+1) {
  filter: url(#sandy180) contrast(1.2) blur(0.2px);
}
.filled-cell:nth-child(3n+2) {
  filter: url(#sandy270) contrast(1.2) blur(0.2px);
} */

.board-grid {
  height: 24rem;
  width: 10rem;
  background-color: #0000;
  display: flex;
  flex-direction: column;
  gap: none;
  box-sizing: content-box;
}

.piece-que-container {
  /* tw-overflow-y-hidden tw-box-border tw-flex tw-relative tw-flex-col tw-w-24 tw-items-center tw-justify-start tw-gap-0 tw-mt-0 tw-bg-black tw-rounded-xl tw-pt-4 tw-pb-8 */
  overflow-y:hidden;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  justify-content: flex-start; /* align at top */
  gap:0;
  margin-top: 0;
  margin-bottom: 0;
  height: 22rem;

  background-color: rgba(30,45,60, 0.6);
  padding-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 1rem;
  
  transform: translateX(-16%) translateY(-20%) scale(60%);
  z-index: -1;
  border: 0.09375rem solid rgba(200,200,200,0.6);
  z-index: -1;
}

.hold-que {
  border-top-right-radius: 1rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
  transform: translateX(16%) translateY(-20%) scale(60%);
  margin-bottom: 16rem;
  height: 6rem;
}

.board-grid-mask {
  padding:0.03125rem;
  height: 20rem;
  overflow: hidden;
  box-sizing: content-box;
  position: relative;
  border: 0.0625rem solid rgba(200,200,200,0.6);
}

.game-container {
  /* transform: scale(1.2); */
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: flex-start;
  background-color:rgba(51, 65, 85, 0.2);
  border-radius: 0.75rem;
  height: 100%;
  padding: 0;
  padding-top: 2.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}


.board-background {
  position: absolute;
  opacity: 0.5;
  transform: translate(0.09375rem, 0.09375rem);
  height: 20rem;
  width: 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.col {
  box-sizing: border-box;
  background: transparent;
  height: 1rem;
  width: 1rem;
  border: 0.0625rem inset rgba(61, 45, 73,0.4);
  border-radius: 0.09375rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0;
  box-sizing: border-box; 
  background: transparent;
  height: 1rem;
  width: 10rem;
}


.grid-rows {
  background-image:
    repeating-linear-gradient(
      rgba(61, 45, 73, 0.5) 0rem,
      rgba(30,45,60, 0.5) 1rem
    ),
    repeating-linear-gradient(
      0.25turn,
      rgba(61, 45, 73, 0.5) 0rem,
      rgba(30,45,60, 0.5) 1rem
    );
}
